/* GENERALS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
    text-align: left;
    color: #e7e7e7;
}

.container{
    height: 91vh; /* Ajusta según el contenido dentro del contenedor */
    display: flex;
    border: 2px solid #e7e7e7;
    margin: 30px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.subtitle{
    font-size: 32px;
    font-weight: 600;
}

:root {
    --title-color: #e7e7e7;
    --subtitle-color: #0d0d0d;
}

.active {
    text-decoration: underline;
}

/* BODY */

#mousepointer{
    position: fixed;
    border: 2px solid #e7e7e7;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all .02s ease-in-out;
}

/* TITLE */

.container-flex{
    display: flex
}

.info-container{
    width: 35%;
}

.title-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 25px;
}

.aboutme-container{
    width: 75%;
    margin-top: 30px;
    line-height: 1.5;
    margin-left: -2px;
}

.page-container{
    width: 65%;
}


/*TIMELINE */

.timeline-container{
    display: flex;
    width: 100%;
}

.timeline-container video{
    width: 40%;
    margin: auto;
    border: 1px solid #e7e7e7;
    padding: 2px 10px;
}

/* PROJECTS */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll; /* Mostramos la barra de desplazamiento */
    max-height: 78vh; /* Ajusta según sea necesario */
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento (puede ser 'auto' o 'thin') */
    scrollbar-color: #e7e7e7 #e7e7e7; /* Color de la barra y fondo de la barra */
}

.projects-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
}

.projects-container::-webkit-scrollbar-track {
    background: #e7e7e7; /* Fondo de la barra de desplazamiento */
    border-radius: 10px; /* Borde redondeado */
}

.projects-container::-webkit-scrollbar-thumb {
    background-color: #e7e7e7; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Borde redondeado */
}

.projects-container::-webkit-scrollbar-thumb:hover {
    background-color: #e7e7e7; /* Color de la barra de desplazamiento al pasar el cursor */
}

.projects{
    display: flex;
    width: 100%;
    justify-content: space-around; /* Ajusta según el diseño deseado */
    margin-top: 15px;
    flex-wrap: wrap; /* Permite que los proyectos se ajusten automáticamente a varias filas */
}

.card-projects {
    display: flex;
    width: 530px; /* Puedes ajustar este valor según el diseño deseado */
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.card-projects h3{
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}

.cardimg-container {
    max-width: 480px;
}

.cardimg-container img{
    width: 100%;
}

.card-description{
    font-size: 12px;
    padding: 10px 20px;
}

.animate__fadeInSlow {
    --animate-duration: 2s; 
}

.text-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.text-projects h3{
    font-size: 16px;
}

.icons-projects{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.icons-projects a{
    color: var(--title-color);
}

/* POP UP PRODUCTS */
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.8); 
}

.popup-content {
    display: flex;
    background-color: #e7e7e7e3;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    color: var(--subtitle-color);
    box-shadow: 0px 0px 5px var(--title-color);
}

.popup-body img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0px;
}

.popup-title{
    text-align: right;
    font-size: 26px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.popup-description{
    font-size: 16px;
    text-align: right;
}

.languages{
    display: flex;
    flex-direction: column;
}

.languages p{
    text-align: right;
}

.languages ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 40px;
    margin: 15px;
    color: var(--subtitle-color);
    text-align: right;
}
.link{
    text-align: right;
}

.link a{
    color: var(--subtitle-color);
}

/* EXPERIENCE */

.experience-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.company-experience{
    display: flex;
    text-align: right;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
    margin-top: 15px;
}

.company-experience i{
    color: #e7e7e7;
}

.company-info{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
}

.company-info h3{
    text-decoration: underline;
    margin-bottom: 2px;
}

.company-info h4{
    margin-bottom: 2px;
}

.company-info h5{
    margin-bottom: 2px;
    font-weight: 500;
}

.company-info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    width: 80%;
}

/* CONTACT SECTION */

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-container h3{
    margin-top: 25px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

input, textarea{
    margin-bottom: 15px;
    width: 35%;
    height: 30px;
    margin-top: 4px;
    padding: 15px 5px;
}

textarea{
    height: 80px;
    padding: 10px;
}

form button{
    border: 1px solid var(--title-color);
    background-color: transparent;
    color: var(--title-color);
    cursor: pointer;
    padding: 15px 30px;
    transition: .5s;
}

form button:hover{
    background-color: var(--title-color);
    color: var(--subtitle-color);
}
/* FORM ALERT */

.custom-alert {
    background-color: var(--subtitle-color) !important;
    border: 1px solid var(--title-color) !important;
    border-radius: 0 !important;
    color: var(--title-color);
}

.custom-button {
    background-color: var(--title-color) !important;
    color: var(--subtitle-color) !important;
    border: 1px solid var(--subtitle-color) !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    transition: .5s !important;
}

.custom-button:hover {
    background-color: var(--subtitle-color) !important;
    border: 1px solid var(--title-color) !important;
    color: var(--title-color) !important;
}

/* NAVBAR */

.navbar-container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    gap: 15px;
}

.navbar p{
    cursor: pointer;
}

.language{
    cursor: pointer;
}





.hidden{
    display: none;
}